.page-slide-fade-enter-active {
    transition: all .4s ease;
}

.page-slide-fade-leave-active {
    transition: all .9s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

.page-slide-fade-enter, .page-slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
